*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  font-family: var(--primary-font);
}
ul {
  list-style-type: none;
}

:root {
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-gradient: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
  --secondary-gradient: linear-gradient(to bottom, #1a2e35 55%, #1cbbb4 55%);
  --bg-dark-color: #1a2e35;
  --bg-light-color: #1cbbb4;
}

body {
  width: 100%;
  font-family: var(--secondary-font);
}

/* HEADER Styles */

header {
  width: 100%;
  background: var(--bg-dark-color);
}

nav {
  color: #fff;
  position: relative;
}

.nav-flex {
  height: 80px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid whitesmoke;
}

nav .logo a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  gap: 0.5rem;
}

nav .logo img {
  width: 35px;
}

.nav-ul {
  position: relative;
  display: none;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem 0;
  background: var(--bg-dark-color);
}

.nav-ul.show-ul {
  display: flex;
  height: 350px;
}

ul.nav-ul li {
  width: 100%;
  text-align: center;
}

ul.nav-ul li a {
  display: block;
  width: 100%;
  color: whitesmoke;
  padding: 1.3rem 0;
  font-size: 1.5em;
  /* border-bottom: 1px solid whitesmoke; */
}

ul.nav-ul li:hover,
ul.nav-ul li:focus {
  opacity: 0.8;
}

.hero-section {
  width: 100%;
  transition: top 0.5s ease-in-out;
}

.hero-section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-dark-color);
  padding: 2rem 0rem;
  color: whitesmoke;
}

.hero-section .left h1 {
  font-size: 3.5rem;
  padding: 3rem 14rem;
  text-transform: uppercase;
}

.hero-section .left p {
  font-size: 1.3rem;
  padding: 0 2.2rem;
  margin: 0.5rem 0;
}

.hero-section .hero-btn {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.hero-section .left button {
  font-size: 1.3rem;
  padding: 1.1rem 2.5rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

.left .btn-white {
  background: whitesmoke;
  color: #333;
  border: 1px solid whitesmoke;
}

.left .btn-pink {
  background: #ff4f5a;
  color: whitesmoke;
  border: 2px solid #ff4f5a;
}

.left .btn-white:hover {
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}

.left .btn-pink:hover {
  background: transparent;
  border: 2px solid #ff4f5a;
  color: whitesmoke;
}

.hero-section .right {
  background-color: var(--bg-light-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
}

.hero-section .right img {
  display: block;
}
